@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
}

.center-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin: auto;
  width: 100%;
  display: flex;
}

.navbar {
  position: fixed;
  height: 64px;
  width: 100%;
  top: 0;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  /*box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);*/
  transition: 0.5s ease-out;
}

.burger {
  height: 30px;
  width: 32px;
  /*display: flex;*/
  position: relative;
  right: 10%;
  /*flex-direction: column;
  justify-content: space-evenly;*/
  align-items: center;
  border: 1px solid #5f6368;
  /*border-radius: px;*/
  display: none;
  cursor: pointer;
  transition: 0.5s;
}

.line1 {
  background-color: #5f6368;
  height: 2px;
  width: 20px;
  position: absolute;
  left: 6px;
  top: 6px;
  /*border-radius: 2px;*/
  transition: 0.5s;
}

.line2 {
  background-color: #5f6368;
  height: 2px;
  width: 20px;
  position: absolute;
  left: 6px;
  top: 14px;
  /*border-radius: 2px;*/
  transition: 0.5s;
}

.line3 {
  background-color: #5f6368;
  height: 2px;
  width: 20px;
  position: absolute;
  left: 6px;
  top: 22px;
  /*border-radius: 2px;*/
  transition: 0.5s;
}

.logo {
  font-size: 30px;
  color: green;
  position: relative;
  left: 10%;
}

.nav-links {
  position: relative;
  right: 10%;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.nav-links li {
  display: inline;
  padding-right: 14px;

  /*color: #5F6368;*/
}

.bg-none {
  opacity: 0.5;
}

.intro {
  height: 100vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/background.jpg);
  /*background-color: #f8f9fa;*/
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /*color: #202124;*/
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.intro p {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 200%;
  color: #fff;
}

/*About*/
#about {
  height: 100vh;
  width: 100%;
}

/*Contact*/

.col-2 {
  width: calc(100% / 2);
  border: 1px solid black;
}

/***************************/
/*For Mobile*/
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .col-2 {
    width: 100%;
    border: 1px solid black;
    margin: 10px;
  }
  .nav-links {
    position: fixed;
    top: 12vh;
    right: 0;
    text-align: center;
    width: 50%;
    height: 90vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*border: 1px solid white;*/
    background-color: white;
    transform: translateX(100%);
    transition: 0.5s;
    color: rgb(24, 23, 23) !important;
  }

  .nav-links li {
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: black 1px solid;
    padding: 10px;
  }

  .nav-links-show {
    transform: translateX(0%);
  }

  .burger {
    display: flex;
  }

  .burger-active {
    border-radius: 50%;
  }

  .line1-active {
    transform: translateY(8px) rotate(-45deg);
  }

  .line2-active {
    opacity: 0;
  }

  .line3-active {
    transform: translateY(-8px) rotate(45deg);
  }

  .intro p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    line-height: 200%;
  }
}
